@font-face {
    font-family: phases on stun;
    src: url(./fonts/ccphasesOnStunMedium.ttf);
}
@font-face {
    font-family: pressure drop 2D;
    src: url(./fonts/PressureDrop2DW05Regular.ttf);
}

@font-face {
    font-family: world three;
    src: url(./fonts/WorldThreeOTW03Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'pressure drop 2D';
    background-color: #6179A6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23657ba6'/%3E%3Cstop offset='1' stop-color='%23657ba6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23697fa6'/%3E%3Cstop offset='1' stop-color='%23697fa6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236d81a6'/%3E%3Cstop offset='1' stop-color='%236d81a6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236179A6'/%3E%3Cstop offset='1' stop-color='%236179A6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23697DA6'/%3E%3Cstop offset='1' stop-color='%23697DA6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237186A6'/%3E%3Cstop offset='1' stop-color='%237186A6' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-size: 10px;
}

h1, h2{
    font-family: 'phases on stun';
    font-size: 10em;
    color: #fff;
}

.parpadea {
  
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
.imgTitulo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 35% !important;
}

.imgPokedex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pokedex{
    background-color: #fff;
    height: 800px;
    width: 500px;
    border: #9AA6D3 solid 1px;
    /* display: none; */
    margin-bottom: 30px;
}

.up{
    height: 50%;
}

.pokeTitle{
    border-bottom: #515151 solid 2px;
    display: flex;
    height: 15%;
}

.titleContainer{
    background: #5169EF;
    padding: 10px;
    border-bottom:#9AA6D3 solid 2px;
    border-right: #3041BE solid 2px;
    width: 70%;
    display: flex;
    align-items: center;
}

.titleContainer p{
    font-family: 'phases on stun';
    font-size: 25px;
    margin: 0 10px;
    color: #fff;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 75%;
    background: #51C7FF;
    border-radius: 20px;
    border: #515151 solid 2px;
}

.title p{
    font-family: 'phases on stun';
    font-size: 25px;
    margin: 0 10px;
}

.title img{
    width: 40px !important;
}

.space{
    background: #7996E7;
    width: 30%;
    border-bottom:#9AA6D3 solid 2px;
    border-left:#9AA6D3 solid 2px;
}

.pokeList{
    background-color: #6179A6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23657ba6'/%3E%3Cstop offset='1' stop-color='%23657ba6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23697fa6'/%3E%3Cstop offset='1' stop-color='%23697fa6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236d81a6'/%3E%3Cstop offset='1' stop-color='%236d81a6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236179A6'/%3E%3Cstop offset='1' stop-color='%236179A6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23697DA6'/%3E%3Cstop offset='1' stop-color='%23697DA6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237186A6'/%3E%3Cstop offset='1' stop-color='%237186A6' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    height: 55%;
}

.left{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.border3{
    width: 80%;
    border: #495986 solid 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

.border2{
    border: #FFF786 solid 5px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgList{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F7F7FF' x='-60' y='-60' width='99' height='240'/%3E%3C/g%3E%3C/svg%3E");
    border: #95AEDB solid 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.imgList img{
    width: 80% !important;
}

.right{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'world three';
    font-size: 1.3em;
    color: #73736E;
    overflow-y: scroll;
}

.right li{
    width: 210px;
    list-style: none;
    display: flex;
    align-items: center;
    background: #FFFFC7;
    padding: 5px 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 3px 0;
}

.right img{
    width: 25px !important;
    margin-right: 4px;
}

.lista{
    height: 100%;
}

.pokeInfo{
    display: flex;
    height: 20%;
    border-top: #515151 solid 2px;
    font-family: 'world three';
    font-size: 2em;
    color: #fff;
}

.dere{
    background: #5169EF;
    padding: 10px;
    border-top:#9AA6D3 solid 2px;
    border-right: #3041BE solid 2px;
    width: 70%;
    display: flex;
    justify-content: center;
}

.dere p{
    margin: 0 10px;
}

.izq{
    background: #7996E7;
    width: 30%;
    border-top:#9AA6D3 solid 2px;
    border-left:#9AA6D3 solid 2px;
}

.down{
    background: #ffef9c;
    height: 50%;
    display: flex;
}

.botones{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.botones button{
    background: #84de63;
    border: #73634a solid 2px;
    border-radius: 8px;
    box-shadow: inset 1.5px 3px #5a8c42;
    border-bottom: #5a8c42 solid .5px;
    font-family: 'phases on stun';
    color: #fff;
    font-size: 3em;
    text-align: left;
}

.botones button:hover{
    background: #5a8c42;
}

.botones i{
    color: #84de63;
}

.boton1{
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton2{
    width: 90%;
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paginacion{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginacionContainer{
    background: #ffde84;
    height: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    border: #f7b563 solid 3px;
}

.paginacionContainer i{
    color: #7f97d0;
}

.paginacionContainer i:hover{
    color: #a5bdff;
}
.next{
    transform: rotatez(270deg);
    background: #a5bdff;
    border-radius: 30px;
    padding: 10px;
    border: #73634a solid 2px;
    box-shadow: inset 2px 1px #7f97d0;
}

.next:hover{
    background: #7f97d0;
}

.previuos{
    transform: rotatez(270deg);
    background: #a5bdff;
    border-radius: 30px;
    padding: 10px;
    border: #73634a solid 2px;
    box-shadow: inset 2px 1px #7f97d0;
}

.previuos:hover{
    background: #7f97d0;
}

.pokebola{
    width: 40%;
    display: flex;
    align-items: center;
}

.pokebola img{
    width: 100% !important;
}

/* Ver Pokemon */

.verPokemon{
    background-color: #fff;
    height: 800px;
    width: 500px;
    border: #9AA6D3 solid 1px;
    /* display: none; */
    margin-bottom: 30px;
}

.infoTitle{
    border-bottom: #515151 solid 2px;
    display: flex;
    height: 10%;
}

.titleContainerInfo{
    background: #5169EF;
    padding: 10px;
    border-bottom:#9AA6D3 solid 2px;
    border-right: #3041BE solid 2px;
    width: 90%;
    display: flex;
    align-items: center;
}

.titleContainerInfo p{
    font-family: 'phases on stun';
    font-size: 25px;
    margin: 0 10px;
    color: #fff;
}

.spaceInfo{
    background: #5169EF;
    width: 10%;
    border-bottom:#9AA6D3 solid 2px;
    border-left:#9AA6D3 solid 2px;
}

.content{
    background-color: #cfe7ff;
    opacity: 1;
    background-image:  repeating-linear-gradient(45deg, #bedfff 25%, transparent 25%, transparent 75%, #bedfff 75%, #bedfff), repeating-linear-gradient(45deg, #bedfff 25%, #cfe7ff 25%, #cfe7ff 75%, #bedfff 75%, #bedfff);
    background-position: 0 0, 17px 17px;
    background-size: 34px 34px;
    height: 80%;
    display: flex;
}

.rightInfo{
    width: 70%;
    font-family: world three;
    font-size: 1.2rem;
}

.detalle{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalleContainer{
    width: 90%;
    background: #ffffc7;
    border-radius: 10px;
    height: 60%;
    color: #656565;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detalleContainer p{
    margin: 0 20px;
}

.especie{
    height: 20%;
    display: flex;
    align-items: center;
}

.tipo{
    background: #6d9eff;
    padding: 5px;
    width: 50px;
    border: #5d6565 solid 1px;
    box-shadow: inset 2px 2px #cfdfff;
    border-radius: 5px;
    margin-left: 18px;
    color: #fff;
}

.dimension{
    height: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.dimension p{
    margin-bottom: 5px;
}

.downInfo{
    height: 50%;
    background: #ad7bef;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.downInfo a{
    background: #21def7;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    font-family: world three;
    font-size: 1.2rem;
    color: #fff;
    padding: 25px 15px;
    border-radius: 10px;
    border: #524a7b solid 3px;
    border-bottom: none;
    box-shadow: inset 2px 3px #408c94;
}

.downInfo a:hover{
    background: #1fc2d7;
}

.buscarPokemon{
    background-color: #fff;
    height: 800px;
    width: 500px;
    border: #9AA6D3 solid 1px;
    margin-bottom: 30px;
}

.upBuscar{
    background-color: #efd7ff;
    opacity: 1;
    background-image: linear-gradient(0deg, #efd7ff 50%, #dfbeff 50%);
    background-size: 13px 13px;
    height: 50%;
}

.seleccion{
    background: #cf49f7;
    border-bottom: #a610be solid 4px;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seleccion p{
    font-family: world three;
    font-size: 1.5em;
    color: #fff;
}

.busqueda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 85%;
    font-family: world three;
    font-size: 1.5em;
}

.orden{
    width: 50%;
    background: #fff786;
    height: 50px;
    border: #bea620 solid 3px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.orden p{
    background: #fff;
    padding: 5px;
    width: 50%;
    height: 50%;
    border: #f8e963 solid 1px;
    border-radius: 5px;
}

.downBuscar{
    display: flex;
    height: 50%;
    font-family: world three;
    font-size: 1.5em;
    color: #fff;
}

.downBuscar a{
    color: #fff;
}
.leftBuscar{
    width: 70%;
    height: 100%;
    background: #bd63ff;
    border-right: #7318b5 solid 3px;
    display: flex;
    flex-wrap: wrap;
}

.rightBuscar{
    width: 30%;
    height: 100%;
    background: #ce94ff;
    border-left: #e2c3f7 solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btnBuscar{
    background: #84de63;
    border: #73634a solid 2px;
    border-bottom: #5a8c42 solid 1px;
    text-decoration: none;
    box-shadow: inset 1px 2px #5a8c42 ;
    padding: 10px;
    width: 80%;
    border-radius:8px;
    text-align: center;
}

.btnBuscar:hover{
    background: #f7c65a;;
    border-bottom: #b78821 solid 1px;
    box-shadow: inset 1px 2px #b78821 ;
}

.confirmar{
    background: #c6c6c6;
    border: #73634a solid 2px;
    border-bottom: #949494 solid 1px;
    text-decoration: none;
    box-shadow: inset 1px 2px #949494 ;
    padding: 10px;
    width: 80%;
    border-radius:8px;
    text-align: center;
}

.confirmar:hover{
    background: #f79c94;
    box-shadow: inset 1px 2px #c45249 ;
    border-bottom: #c45249 solid 1px;
}

.listaResultados{
    height: 100%;
}